<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.submission.title"></h1>
  </div>
  <div>
    <p data-ng-bind="vm.submission.body"></p>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.submission.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.submission.user">
            <ul id="user_submissions" style="list-style-type:none; display:inline; position:relative; left: -40px">
              <!-- User's display name -->
              <li data-ng-bind="vm.submission.user.displayName" style="display:inline"></li>
              <!-- points in stars -->
              <li ng-repeat="r in vm.range(vm.submission.user.points)" class="glyphicon glyphicon-star"
                  style="font-size: 10px; margin: 0px; display:inline;"></li>
              (
              <!-- User's points -->
              <li data-ng-if="vm.submission.user"
                  data-ng-bind="vm.submission.user.points" style="display:inline"> </li> pts
              )
            </ul>
          </span>
    </em>
  </small>
  <small class="list-group-item-text">
    <br>
    Category:
    <span data-ng-bind="vm.submission.categories"></span>
  </small>
  <p class="lead" data-ng-bind="vm.submission.content"></p>
  <div class="pull-right"
       data-ng-show="vm.submission.isCurrentUserOwner || vm.submission.isAdmin">
    <a class="btn btn-secondary"
       data-ui-sref="submissions.edit({ submissionId: vm.submission._id })">
      <i class="glyphicon glyphicon-edit"
         style="font-size: 30px;margin: 5px;display: block;"></i>
    </a>
    <a class="btn btn-secondary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"
         style="font-size: 30px;margin: 5px;display: block;"></i>
    </a>
  </div>
  <br><br>

  <tabset>
    <tab>
      <tab-heading>
        <span>Improvements</span>
      </tab-heading>
      <div>
        <br>
        <div class="row">
        <button class="btn btn-primary" ng-if="authentication.user"
                style="margin-left: 10px"
                ui-sref="submissions.createImprovement({ submissionId: vm.submission._id })"
                data-ng-hide="vm.submission.isCurrentUserOwner">Add Improvement
        </button>

          <div ui-view="subImprovements"></div>
        </div>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span>Comments</span>
      </tab-heading>
      <div>
        <br>
        <div class="row">
          <button class="btn btn-primary" ng-if="authentication.user"
                  style="margin-left: 10px"
                  ui-sref="submissions.createUsercomment({ submissionId: vm.submission._id })">
            Add Comment
          </button>
          <br><br>
          <div ui-view="subUserComments"></div>
        </div>
      </div>
    </tab>

</section>
