<section ng-controller="HomeController">
  <!-- Header image -->
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="header-image"></div>
        <div class="carousel-caption">
          <h1>Curtin Innovators</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="descContainer">
    <div align="center">
      <h2>How it works</h2>
      <br>
      <p>Discover ideas, solutions and innovations to the problems around you. Give feedback and share ideas with your
         peers, the more active you are the more points you earn.</p>
      <br>
    </div>

    <!--Three boxes with info-->
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>SHARE</h4>
            <span class="glyphicon glyphicon-cloud-upload glyphicon-home-style" style="color: #F7C100" aria-hidden="true"></span>
            Submit a creative idea, sharing your thoughts with those around you.
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>IMPROVE</h4>
            <span class="glyphicon glyphicon-edit glyphicon-home-style" style="color: #EF5033" aria-hidden="true"></span>
            You can submit an improvement on any submission, providing invaluable feedback for other submissions
            or receiving new ideas to improve your own.
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>FIND</h4>
            <span class="glyphicon glyphicon-search glyphicon-home-style" style="color: #01B99D" aria-hidden="true"></span>
            Find ideas and proposals that interest you and your peers via a voting system
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>&copy; Artesian Ideas 2016</footer>
</section>
