<section>
  <div class="page-header">
    <button type="button" ng-click="showImp=true; vm.load()" ng-show="!showImp" >Improvements</button>

  <!-- Search box -->
  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8 pull-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." data-ng-model="searchTerm">

      <div class="input-group-btn" ng-class="{open : vm.sortMenuOpen}">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="vm.toggleSortMenu()">{{vm.sortBtnText}} <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" ng-click="vm.sortBy('created') ; vm.toggleSortMenu()"> Sort by Date</a></li>
          <li><a href="#" ng-click="vm.sortBy('user') ; vm.toggleSortMenu()">Sort by User</a></li>
        </ul>
      </div>

    </div>
  </div>
  <br>

  <!-- Spacing -->
  <div class="clearfix"></div>
  </div>

  <!-- Improvements List -->
  <div class="list-group">
    <a data-ng-repeat="improvement in vm.improvements | orderBy:vm.sortTerm:vm.sortReverse |  filter: searchTerm"
       class="list-group-item">
      <div class="container-fluid">
        <div class="pull-left">
          <br><span class="likes" data-ng-bind="improvement.likes"></span>
        </div>

        <div class="col-xs-2 col-md-1">
          <button type="button" class="btn btn-group-xs; glyphicon glyphicon-chevron-up" ng-click="vm.incrementLikes(improvement)"></button>
          <button type="button" class="btn btn-group-xs; glyphicon glyphicon-chevron-down" ng-click="vm.decrementLikes(improvement)"></button>
        </div>
        <div class="col-xs-6 col-md-7"
             data-ui-sref="improvements.view({ improvementId: improvement._id })">
          <h4 class="list-group-item-heading" data-ng-bind="improvement.body"></h4>
          <small>
            Posted on
            <span data-ng-bind="improvement.created | date:'mediumDate'"></span>
            by
            <span data-ng-if="improvement.user" data-ng-bind="improvement.user.displayName"></span>
            <span data-ng-if="!improvement.user">Deleted User</span>
          </small>
        </div>
      </div>
    </a>
  </div>
</section>
