<section>
  <div class="page-header">
    <button type="button" ng-click="showImp=true; vm.load()" ng-show="!showImp" >Improvements</button>

  <!-- Search box -->
  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8 pull-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." data-ng-model="searchTerm">

      <div class="input-group-btn" ng-class="{open : vm.sortMenuOpen}">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="vm.toggleSortMenu()">{{vm.sortBtnText}} <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" ng-click="vm.sortBy('likes') ; vm.toggleSortMenu()">Sort by Popularity</a></li>
          <li><a href="#" ng-click="vm.sortBy('created') ; vm.toggleSortMenu()"> Sort by Date</a></li>
          <li><a href="#" ng-click="vm.sortBy('user') ; vm.toggleSortMenu()">Sort by User</a></li>
        </ul>
      </div>

    </div>
  </div>
  <br>

  <!-- Spacing -->
  <div class="clearfix"></div>
  </div>

  <!-- Improvements List -->
  <div class="list-group">
    <a data-ng-repeat="improvement in vm.improvements |
    orderBy:vm.sortTerm:vm.sortReverse |  filter: searchTerm"
       class="list-group-item"
       style="padding-left: 0;">

      <div class="container-fluid">

        <!-- Likes column -->
        <div class="col-xs-2 col-md-1"
             style="float: left; padding-right: 0; padding-left: 0;">
          <p style="text-align: center">
            <button type="button" class="btn btn-group-xs;
          glyphicon glyphicon-chevron-up"
                    ng-click="vm.incrementLikes(improvement)"></button>
          </p>
          <p style="text-align: center">
            <button type="button" class="btn btn-group-xs"
                    disabled="disabled"
                    style="padding-right: 5px; padding-left: 5px;">
              <span data-ng-bind="improvement.likes"></span>
            </button>
          </p>
          <p style="text-align: center">
            <button type="button" class="btn btn-group-xs;
          glyphicon glyphicon-chevron-down"
                    ng-click="vm.decrementLikes(improvement)"></button>
          </p>
        </div>

        <!-- Improvement description column -->
        <div class="col-xs-7 col-md-9"
             style="height: 100%;"
             data-ui-sref="submissions.improvementView({ improvementId: improvement._id })">
          <div style="height:80%">
            <h4 class="list-group-item-heading" data-ng-bind="improvement.body"></h4>
          </div>
          <div style="height: 20%;">
            <small class="bottomAlign">
              Posted by
              <span data-ng-if="improvement.user"
                    data-ng-bind="improvement.user.displayName"></span>
              <span data-ng-if="!improvement.user">Deleted User</span>
              <br>
              <span data-ng-bind="improvement.created | date:'mediumDate'"></span>
            </small>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
