<section>
  <h3>Comments</h3>
  <div class="col-md-12">
    <form name="vm.form.usercommentsForm" class="form-horizontal" ng-submit="vm.save(vm.form.usercommentsForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="body"></label>
          <textarea name="body" ng-model="vm.usercomments.body" id="body" class="form-control" placeholder="Description" required>
          </textarea>
          <div ng-messages="vm.form.usercommentsForm.body.$error" role="alert">
            <p class="help-block error-text" ng-message="required">usercomments body is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.usercomments._id ? 'Update' : 'Add'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
