<section>
  <div class="list-group">
    <a data-ng-repeat="usercomment in vm.usercomments"
       data-ui-sref="usercomments.view({ usercommentId: usercomment._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="usercomment.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="usercomment.user" data-ng-bind="usercomment.user.displayName"></span>
        <span data-ng-if="!usercomment.user">Deleted User</span>
        <br><br>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="usercomment.body"></h4>
    </a>
  </div>

</section>
