<section>
  <div class="list-group">
    <a data-ng-repeat="usercomment in vm.usercomments"
       data-ui-sref="usercomments.view({ usercommentId: usercomment._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="usercomment.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="usercomment.user">
          <ul id="user_comments" style="list-style-type:none; display:inline; position:relative; left: -40px">
            <!-- User's display name -->
            <li data-ng-bind="usercomment.user.displayName" style="display:inline"></li>
            <!-- points in stars -->
            <li ng-repeat="r in vm.range(usercomment.user.points)" class="glyphicon glyphicon-star"
                style="font-size: 10px; margin: 0px; display:inline;"></li>
            (
            <!-- User's points -->
            <li data-ng-bind="usercomment.user.points" style="display:inline"> </li> pts
            )
          </ul>
        </span>
        <span data-ng-if="!usercomment.user">Deleted User</span>
        <br><br>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="usercomment.body"></h4>
    </a>
  </div>

</section>
