.content {
    margin-top: 50px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}
.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}
.error-text {
    display: none;
}
.has-error .help-block.error-text {
    display: block;
}
.has-error .help-inline.error-text {
    display: inline;
}
.page-header {
    padding-left: 10px;
}
.likes {
    font-size: 150%;
}

/* Home page styles */
#descContainer {
    padding-top: 40px;
    padding-bottom: 30px;
}

.panel {
    background-color: #f5f5f5;
}

.glyphicon {
    font-size: 50px;
    margin: 35px;
    display: block;
    text-align: center;
}
.glyphicon-chevron-up {
    font-size: 10px;
    margin: auto;
}
.glyphicon-chevron-down {
    font-size: 10px;
    margin: auto;
}

.header-image{
    background-image: url('http://international.curtin.edu.au/wp-content/uploads/sites/5/2014/10/curtin-university-perth-campus.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    text-align: center;
    color: #868686;
}

textarea {
    height: 1em;
    max-width: 40em;
    width: 50%;
    padding: 3px;
    transition: all 0.5s ease;
}

textarea:focus {
    height: 8em;
}
